html {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 1000px;
  min-height: 600px;
  font-family: 14px;

  body {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../img/bg_min.jpg") no-repeat;
    background-size: cover;

    .clear {
      clear: both;
    }
  }
}
//常用类
.zora-world {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pt10 {
        padding-top: 10px;
    }

    .pt15 {
        padding-top: 15px;
    }

    .pt20 {
        padding-top: 20px;
    }

    .pl5 {
        padding-left: 5px;
    }

    .pl10 {
        padding-left: 10px;
    }

    .pl15 {
        padding-left: 15px;
    }

    .pl20 {
        padding-left: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .pr10 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pb5 {
        padding-bottom: 5px;
    }

    .pb10 {
        padding-bottom: 10px;
    }

    .pb15 {
        padding-bottom: 15px;
    }

    .pb20 {
        padding-bottom: 20px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .ml5 {
        margin-left: 5px;
    }

    .ml10 {
        margin-left: 10px;
    }

    .ml15 {
        margin-left: 15px;
    }

    .ml20 {
        margin-left: 20px;
    }

    .mr5 {
        margin-right: 5px;
    }

    .mr10 {
        margin-right: 10px;
    }

    .mr15 {
        margin-right: 15px;
    }

    .mr20 {
        margin-right: 20px;
    }

    .mb5 {
        margin-bottom: 5px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb15 {
        margin-bottom: 15px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .w100 {
        width: 100%
    }

    .w50 {
        width: 50%
    }

    .w10 {
        width: 10%;
    }

    .w90 {
        width: 90%
    }

    .cursor-pointer {
        cursor: pointer
    }

    .cursor-no {
        cursor: not-allowed
    }
}